body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
}

#calendar {
		max-width: 900px;
		margin: 0 auto;
}

.fc-content{
    color: #fff;
}

#titulo-agenda{
    padding: 20px 0;
    text-align: center;
    font-size: 16pt;
    background-color: #333;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
}

#formulario{
    background-color: #eee;
    border: 1px solid #333;
    padding-top: 15px;
    padding-bottom: 15px;
}